name: Selenium Python CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install selenium webdriver-manager

      - name: Install Chrome & Xvfb
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          sudo apt-get install -y chromium-browser

      - name: Run tests with Xvfb
        run: |
          Xvfb :99 -ac -screen 0 1920x1080x24 &
          export DISPLAY=:99
          pytest tests/
