name: selenium Python CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi
          pip install --upgrade pytest selenium
      - name: Install Firefox
        run: |
          sudo apt-get update
          sudo apt-get install -y firefox
      - name: Install Geckodriver
        run: |
          GECKO_VERSION=$(curl -s "https://api.github.com/repos/mozilla/geckodriver/releases/latest" | grep "tag_name" | cut -d : -f 2 | tr -d \" | tr -d , | tr -d ' ')
          GECKO_VERSION=${GECKO_VERSION#v}
          wget -N https://github.com/mozilla/geckodriver/releases/download/v${GECKO_VERSION}/geckodriver-v${GECKO_VERSION}-linux64.tar.gz -P /tmp
          tar -xvzf /tmp/geckodriver-v${GECKO_VERSION}-linux64.tar.gz -C /tmp
          sudo mv /tmp/geckodriver /usr/local/bin/geckodriver
          sudo chmod +x /usr/local/bin/geckodriver
      - name: Install Xvfb
        run: |
          sudo apt-get install -y xvfb
      - name: Run tests
        env:
          DISPLAY: ":99"
        run: |
          xvfb-run -a pytest tests/
